<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266672062850-pr2hvuaaermir3njeuo65vnffkbc4r73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266672062850-pr2hvuaaermir3njeuo65vnffkbc4r73</string>
	<key>API_KEY</key>
	<string>AIzaSyC8LjgbhQZJVOrmSUPKhz5Jk-k3EbxTTvE</string>
	<key>GCM_SENDER_ID</key>
	<string>266672062850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squaretailsoftware.beamed</string>
	<key>PROJECT_ID</key>
	<string>beamed-2</string>
	<key>STORAGE_BUCKET</key>
	<string>beamed-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266672062850:ios:33c26e0a31493a38378f9b</string>
</dict>
</plist>