<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pack_number</key>
		<integer>0</integer>
		<key>pack_name</key>
		<string>Pack of 10 Hints</string>
		<key>production_id</key>
		<string>BMD2_PAIDHINT_AAAA0001</string>
		<key>number_of_hints</key>
		<integer>10</integer>
		<key>AppStorePackCost</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>pack_number</key>
		<integer>1</integer>
		<key>pack_name</key>
		<string>Pack of 25 Hints</string>
		<key>production_id</key>
		<string>BMD2_PAIDHINT_AAAA0002</string>
		<key>number_of_hints</key>
		<integer>25</integer>
		<key>AppStorePackCost</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>pack_number</key>
		<integer>2</integer>
		<key>pack_name</key>
		<string>Pack of 50 Hints</string>
		<key>production_id</key>
		<string>BMD2_PAIDHINT_AAAA0003</string>
		<key>number_of_hints</key>
		<integer>50</integer>
		<key>AppStorePackCost</key>
		<integer>89</integer>
	</dict>
	<dict>
		<key>pack_number</key>
		<integer>4</integer>
		<key>pack_name</key>
		<string>Pack of 100 Hints</string>
		<key>production_id</key>
		<string>BMD2_PAIDHINT_AAAA0005</string>
		<key>number_of_hints</key>
		<integer>100</integer>
		<key>AppStorePackCost</key>
		<integer>149</integer>
	</dict>
	<dict>
		<key>pack_number</key>
		<integer>5</integer>
		<key>pack_name</key>
		<string>Endless Hints!</string>
		<key>production_id</key>
		<string>BMD2_PAIDHINT_AAAA0006</string>
		<key>number_of_hints</key>
		<integer>-1000</integer>
		<key>AppStorePackCost</key>
		<integer>499</integer>
	</dict>
</array>
</plist>
