<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<array>
				<string>backgroundAnimations_00000.png</string>
				<string>backgroundAnimations_00000.png</string>
				<string>backgroundAnimations_00001.png</string>
				<string>backgroundAnimations_00001.png</string>
				<string>backgroundAnimations_00002.png</string>
				<string>backgroundAnimations_00002.png</string>
				<string>backgroundAnimations_00003.png</string>
				<string>backgroundAnimations_00003.png</string>
				<string>backgroundAnimations_00004.png</string>
				<string>backgroundAnimations_00004.png</string>
				<string>backgroundAnimations_00005.png</string>
				<string>backgroundAnimations_00005.png</string>
				<string>backgroundAnimations_00006.png</string>
				<string>backgroundAnimations_00006.png</string>
				<string>backgroundAnimations_00007.png</string>
				<string>backgroundAnimations_00007.png</string>
				<string>backgroundAnimations_00008.png</string>
				<string>backgroundAnimations_00008.png</string>
				<string>backgroundAnimations_00009.png</string>
				<string>backgroundAnimations_00009.png</string>
				<string>backgroundAnimations_00010.png</string>
				<string>backgroundAnimations_00010.png</string>
				<string>backgroundAnimations_00011.png</string>
				<string>backgroundAnimations_00011.png</string>
				<string>backgroundAnimations_00012.png</string>
				<string>backgroundAnimations_00012.png</string>
				<string>backgroundAnimations_00013.png</string>
				<string>backgroundAnimations_00013.png</string>
				<string>backgroundAnimations_00014.png</string>
				<string>backgroundAnimations_00014.png</string>
				<string>backgroundAnimations_00015.png</string>
				<string>backgroundAnimations_00015.png</string>
				<string>backgroundAnimations_00016.png</string>
				<string>backgroundAnimations_00016.png</string>
				<string>backgroundAnimations_00017.png</string>
				<string>backgroundAnimations_00017.png</string>
				<string>backgroundAnimations_00018.png</string>
				<string>backgroundAnimations_00018.png</string>
				<string>backgroundAnimations_00019.png</string>
				<string>backgroundAnimations_00019.png</string>
			</array>
		</array>
	</array>
</array>
</plist>
