<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<array>
				<string>AnimatedHomeScreen_00000.png</string>
				<string>AnimatedHomeScreen_00001.png</string>
				<string>AnimatedHomeScreen_00002.png</string>
				<string>AnimatedHomeScreen_00003.png</string>
				<string>AnimatedHomeScreen_00004.png</string>
				<string>AnimatedHomeScreen_00005.png</string>
				<string>AnimatedHomeScreen_00006.png</string>
				<string>AnimatedHomeScreen_00007.png</string>
				<string>AnimatedHomeScreen_00008.png</string>
				<string>AnimatedHomeScreen_00009.png</string>
				<string>AnimatedHomeScreen_00010.png</string>
				<string>AnimatedHomeScreen_00011.png</string>
				<string>AnimatedHomeScreen_00012.png</string>
				<string>AnimatedHomeScreen_00013.png</string>
				<string>AnimatedHomeScreen_00014.png</string>
				<string>AnimatedHomeScreen_00015.png</string>
				<string>AnimatedHomeScreen_00016.png</string>
				<string>AnimatedHomeScreen_00017.png</string>
				<string>AnimatedHomeScreen_00018.png</string>
				<string>AnimatedHomeScreen_00019.png</string>
				<string>AnimatedHomeScreen_00020.png</string>
				<string>AnimatedHomeScreen_00021.png</string>
				<string>AnimatedHomeScreen_00022.png</string>
				<string>AnimatedHomeScreen_00023.png</string>
				<string>AnimatedHomeScreen_00024.png</string>
				<string>AnimatedHomeScreen_00025.png</string>
				<string>AnimatedHomeScreen_00026.png</string>
				<string>AnimatedHomeScreen_00027.png</string>
				<string>AnimatedHomeScreen_00028.png</string>
				<string>AnimatedHomeScreen_00029.png</string>
				<string>AnimatedHomeScreen_00030.png</string>
				<string>AnimatedHomeScreen_00031.png</string>
				<string>AnimatedHomeScreen_00032.png</string>
				<string>AnimatedHomeScreen_00033.png</string>
				<string>AnimatedHomeScreen_00034.png</string>
				<string>AnimatedHomeScreen_00035.png</string>
				<string>AnimatedHomeScreen_00036.png</string>
				<string>AnimatedHomeScreen_00037.png</string>
				<string>AnimatedHomeScreen_00038.png</string>
				<string>AnimatedHomeScreen_00039.png</string>
				<string>AnimatedHomeScreen_00040.png</string>
				<string>AnimatedHomeScreen_00041.png</string>
				<string>AnimatedHomeScreen_00042.png</string>
				<string>AnimatedHomeScreen_00043.png</string>
				<string>AnimatedHomeScreen_00044.png</string>
				<string>AnimatedHomeScreen_00045.png</string>
				<string>AnimatedHomeScreen_00046.png</string>
				<string>AnimatedHomeScreen_00047.png</string>
				<string>AnimatedHomeScreen_00048.png</string>
				<string>AnimatedHomeScreen_00049.png</string>
				<string>AnimatedHomeScreen_00050.png</string>
				<string>AnimatedHomeScreen_00051.png</string>
				<string>AnimatedHomeScreen_00052.png</string>
				<string>AnimatedHomeScreen_00053.png</string>
				<string>AnimatedHomeScreen_00054.png</string>
				<string>AnimatedHomeScreen_00055.png</string>
				<string>AnimatedHomeScreen_00056.png</string>
				<string>AnimatedHomeScreen_00057.png</string>
				<string>AnimatedHomeScreen_00058.png</string>
				<string>AnimatedHomeScreen_00059.png</string>
			</array>
		</array>
	</array>
</array>
</plist>
