<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<array>
				<string>Beam-Angle00-01.png</string>
				<string>Beam-Angle00-01.png</string>
				<string>Beam-Angle00-01.png</string>
				<string>Beam-Angle00-01.png</string>
				<string>Beam-Angle00-02.png</string>
				<string>Beam-Angle00-02.png</string>
				<string>Beam-Angle00-02.png</string>
				<string>Beam-Angle00-02.png</string>
				<string>Beam-Angle00-03.png</string>
				<string>Beam-Angle00-03.png</string>
				<string>Beam-Angle00-03.png</string>
				<string>Beam-Angle00-03.png</string>
				<string>Beam-Angle00-04.png</string>
				<string>Beam-Angle00-04.png</string>
				<string>Beam-Angle00-04.png</string>
				<string>Beam-Angle00-04.png</string>
				<string>Beam-Angle00-05.png</string>
				<string>Beam-Angle00-05.png</string>
				<string>Beam-Angle00-05.png</string>
				<string>Beam-Angle00-05.png</string>
				<string>Beam-Angle00-06.png</string>
				<string>Beam-Angle00-06.png</string>
				<string>Beam-Angle00-06.png</string>
				<string>Beam-Angle00-06.png</string>
				<string>Beam-Angle00-07.png</string>
				<string>Beam-Angle00-07.png</string>
				<string>Beam-Angle00-07.png</string>
				<string>Beam-Angle00-07.png</string>
				<string>Beam-Angle00-08.png</string>
				<string>Beam-Angle00-08.png</string>
				<string>Beam-Angle00-08.png</string>
				<string>Beam-Angle00-08.png</string>
				<string>Beam-Angle00-09.png</string>
				<string>Beam-Angle00-09.png</string>
				<string>Beam-Angle00-09.png</string>
				<string>Beam-Angle00-09.png</string>
				<string>Beam-Angle00-10.png</string>
				<string>Beam-Angle00-10.png</string>
				<string>Beam-Angle00-10.png</string>
				<string>Beam-Angle00-10.png</string>
				<string>Beam-Angle00-11.png</string>
				<string>Beam-Angle00-11.png</string>
				<string>Beam-Angle00-11.png</string>
				<string>Beam-Angle00-11.png</string>
				<string>Beam-Angle00-12.png</string>
				<string>Beam-Angle00-12.png</string>
				<string>Beam-Angle00-12.png</string>
				<string>Beam-Angle00-12.png</string>
				<string>Beam-Angle00-13.png</string>
				<string>Beam-Angle00-13.png</string>
				<string>Beam-Angle00-13.png</string>
				<string>Beam-Angle00-13.png</string>
				<string>Beam-Angle00-14.png</string>
				<string>Beam-Angle00-14.png</string>
				<string>Beam-Angle00-14.png</string>
				<string>Beam-Angle00-14.png</string>
			</array>
		</array>
	</array>
</array>
</plist>
