<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<array>
				<string>Rings_00000.png</string>
				<string>Rings_00001.png</string>
				<string>Rings_00002.png</string>
				<string>Rings_00003.png</string>
				<string>Rings_00004.png</string>
				<string>Rings_00005.png</string>
				<string>Rings_00006.png</string>
				<string>Rings_00007.png</string>
				<string>Rings_00008.png</string>
				<string>Rings_00009.png</string>
				<string>Rings_00010.png</string>
				<string>Rings_00011.png</string>
				<string>Rings_00012.png</string>
				<string>Rings_00013.png</string>
				<string>Rings_00014.png</string>
				<string>Rings_00015.png</string>
				<string>Rings_00016.png</string>
				<string>Rings_00017.png</string>
				<string>Rings_00018.png</string>
				<string>Rings_00019.png</string>
				<string>Rings_00020.png</string>
				<string>Rings_00021.png</string>
				<string>Rings_00022.png</string>
				<string>Rings_00023.png</string>
				<string>Rings_00024.png</string>
				<string>Rings_00025.png</string>
				<string>Rings_00026.png</string>
				<string>Rings_00027.png</string>
				<string>Rings_00028.png</string>
				<string>Rings_00029.png</string>
			</array>
		</array>
	</array>
</array>
</plist>
