<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<array>
				<string>TileSquareTranslucent.png</string>
			</array>
			<array>
				<string>TileSquareBright.png</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>TileOpaque.png</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>Beamsplitter.png</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>Beamsplitter.png</string>
			</array>
			<array>
				<string>Beamsplitter.png</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>TileMirror.png</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>TileJewelActivated01.png</string>
				<string>TileJewelActivated02.png</string>
				<string>TileJewelActivated03.png</string>
				<string>TileJewelActivated04.png</string>
				<string>TileJewelActivated05.png</string>
				<string>TileJewelActivated06.png</string>
				<string>TileJewelActivated07.png</string>
				<string>TileJewelActivated08.png</string>
				<string>TileJewelActivated09.png</string>
				<string>TileJewelActivated10.png</string>
				<string>TileJewelActivated11.png</string>
				<string>TileJewelActivated12.png</string>
				<string>TileJewelActivated13.png</string>
				<string>TileJewelActivated14.png</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>Jewel.png</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>Prism.png</string>
			</array>
			<array>
				<string>Prism.png</string>
			</array>
			<array>
				<string>Prism.png</string>
			</array>
			<array>
				<string>Prism.png</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>TileSpectrumR0.png</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>TileSpectrumL0.png</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
			<array>
				<string>NULL</string>
			</array>
		</array>
	</array>
	<array>
		<array>
			<array>
				<string>LaserGun-0.png</string>
			</array>
			<array>
				<string>LaserGun-0.png</string>
			</array>
			<array>
				<string>LaserGun-0.png</string>
				<string>LaserGun-0.png</string>
				<string>LaserGun-1.png</string>
				<string>LaserGun-1.png</string>
				<string>LaserGun-2.png</string>
				<string>LaserGun-2.png</string>
				<string>LaserGun-3.png</string>
				<string>LaserGun-3.png</string>
				<string>LaserGun-4.png</string>
				<string>LaserGun-4.png</string>
				<string>LaserGun-5.png</string>
				<string>LaserGun-5.png</string>
				<string>LaserGun-6.png</string>
				<string>LaserGun-6.png</string>
				<string>LaserGun-7.png</string>
				<string>LaserGun-7.png</string>
				<string>LaserGun-8.png</string>
				<string>LaserGun-8.png</string>
				<string>LaserGun-9.png</string>
				<string>LaserGun-9.png</string>
				<string>LaserGun-10.png</string>
				<string>LaserGun-10.png</string>
				<string>LaserGun-11.png</string>
				<string>LaserGun-11.png</string>
				<string>LaserGun-12.png</string>
				<string>LaserGun-12.png</string>
			</array>
		</array>
	</array>
</array>
</plist>
